* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
  }
  
  body {
    width: 1020px;
    margin: 0 auto;
  } 
  
  header {
    display: flex;
    justify-content: space-between;
    height: 89px;
    background-color: #2d303a;  
  }
  
  .logo {
    margin: 40px 40px;
    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: -0.7px
  }
  
  .logo-star {
    color: #f06c64;
  }
  
  .menu {
    margin: 45px 27px;
    font-size: 12px;
    line-height: 6px;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
  }
  
  .menu-ul {
    display: flex;
  }
  
  .nav-ul-point {
    color: #494e62;
  }
  
  li {
    margin-right: 13px;
  }
  
  .menu-ul a:hover {
    color: #f06c64;
    cursor: pointer;
  }
  
  a:link, a:visited { 
    color: #f1f1f2;
    text-decoration: none; 
  }
  
  .bottom-line {
    height: 6px;
    background-color: #323746;
  }
  
  .slider {
    display: flex;
    height: 594px;
    background-color: #f06c64;
  }
  
  .slider-button {
    width: 100px;
    background: none;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  
  .left-button {
    background-image: url(assets/icon/left-chev.png);
    margin-bottom: 7px;
  }
  
  .right-button {
    background-image: url(assets/icon/right-chev.png);
    margin-bottom: 7px;
  }
  
  .slides {
    flex: 1;
  }
  
  .slide-phone {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .vertical-phone {
    height: 484px;
    width: 240px;
    margin: 12px 11px 17px;
  }
  
  .vertical-body-phone {
    background-image: url(assets/picture/phone-vertical.png);
    background-repeat: no-repeat;
    position: absolute;
    height: 458px;
    width: 215px; 
    z-index: 2;
  }
  
  .vertical-shadow {
    background-image: url(assets/picture/shadow-vertical.png);
    background-repeat: no-repeat;
    position: absolute;
    height: 484px;
    width: 240px; 
    z-index: 1;
  }
  
  .vertical-layer {
    background-image: url(assets/picture/layer-vertical.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-position: -242px -295px;
    height: 334px;
    width: 188px;
    margin-left: 14px;
    margin-top: 64px;
    z-index: 3;
  }
  
  .horizontal-phone {
    height: 484px;
    width: 240px;
    transform: translate(-30px, 14px) rotate(90deg);
    margin: -22px 129px 15px;
  }
  
  .horizontal-body-phone {
    background-image: url(assets/picture/phone-vertical.png);
    background-repeat: no-repeat;
    position: absolute;
    height: 458px;
    width: 215px; 
    z-index: 2;
  }
  
  .horizontal-shadow {
    background-image: url(assets/picture/shadow-horizontal.png);
    background-repeat: no-repeat;
    position: absolute;
    transform: translate(-122px, 97px) rotate(90deg);
    height: 240px;
    width: 484px;
    z-index: 1;
  }
  
  .horizontal-layer {
    background-image: url(assets/picture/layer-horizontal.svg);
    transform: translate(-59px, 138px) rotate(270deg);
    background-repeat: no-repeat;
    position: absolute;
    background-position: -485px -283px;
    height: 188px;
    width: 334px;
    z-index: 3;
  }
  
  .bottom-slider {
    height: 6px;
    background-color: #ea676b;
  }
  
  
  .section-services {
    height: 495px;
    background-color: #f2f2f2;
    padding: 65px 40px;
  }
  
  .section-title {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    text-transform: capitalize;
  }
  
  .section-text {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    margin: 30px 0 47px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    letter-spacing: -0.24px;
  }
  
  .grid {
    display: grid;
  }
  
  .grid-columns {
    grid-template-columns: repeat(3, auto);
    gap: 27px 7px;
  }
  
  .grid-2-columns {
    grid-template-columns: repeat(2, auto);
    gap: 13px 20px;
  }
  
  .icon {
    grid-row: 1 / 3;
    width: 60px;
    height: 60px;
  }
  
  .title-column {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    text-transform: capitalize;
  }
  
  .text-column {
    width: 219px;
    height: 64px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    overflow: hidden;
  }
  
  .bottom-services {
    height: 6px;
    background-color: #ffffff;
  }