
body {
  margin: 0 auto;
  position: sticky;
  width: 1020px;
}

.header {
  position: sticky; 
  top: 0; 
  z-index: 100;
  height: 89px;
  background: #2d303a;
  border-bottom: 6px solid #323746; 
}

.wrapper {
  width: 960px;
  align-items: center;
  margin: 0 auto;   
  padding: 10px; 
  box-sizing: border-box; 
}

.inner-wrapper {
  display: flex;
  justify-content: space-between;
  max-height: 89px;
  align-items: baseline; 
}

.inner-wrapper h1 {
  padding-top: 2px;
font-size: 25px;
font-weight: 700;
font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  color: white;
}

.inner-wrapper h1 span {
  color: #f06c64;
}

.menu_navigation li {
  display: inline-block;
  text-transform: uppercase;
font-size: 12px;
  letter-spacing: 0px;
  list-style-position: inside;

}
.menu_navigation li a {
  text-decoration: none;
  letter-spacing: -0.3px;
  line-height: 15px;
  color: white;
font-weight: 700;
font-family: 'Lato', sans-serif;
}

.menu_navigation li a.active {
  color: #f06c64; 
}

.menu_navigation ul {
  display: flex;
}
 
.menu_navigation li::after {
  padding-right: 13.5px;
  padding-left: 13.5px;
  color: #494e62;
  content: "";
}

.menu_navigation li:last-child::after {
  padding: 0;
}

.menu_navigation a:hover {
  color: #f06c64;
  transition: color .3s ease-in-out;
  cursor: pointer;
}

.navigation {
  list-style: none;
}

.slider {
  height: 594px;
  background: #f06c64;
  overflow: hidden;
  transition-duration: 1s;
  transition-timing-function: ease; 
}

.wrapper-slider {
  position: relative;
}

.items-container {
  position: absolute;
  overflow: hidden;
  top: -13px;
}

.item {
  display: none;
  position: relative;
  animation: .8s linear;
  margin: 0 auto;
 
}
.activated, 
.next {
  display: block;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.control {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.control.left {
  left: 0;
  right: auto;
}

.control.right {
  right: 0;
  left: auto;
}

.arrow {
  display: inline-block;
  position: absolute;
  margin-top: 259px;
  transform: translateY(-50%);
font-size: 84px;
}

.arrow.right {
  right: 50%;
}

.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.vertical-iphone {
  position: absolute;
  width: 217px;
  height: 458px;
  top: 55px;
  left: 112px;
  border-radius: 28px;
  cursor: pointer;
}

.horizontal-iphone {
  position: absolute;
  width:458px;
  height: 217px;
  top: 177px;
  right: 137px;
  border-radius: 28px;
  cursor: pointer; 
}

.black-screen {
  display: none;
  position: absolute;
  top: 114px;
  left: 121px;

}

.black-screen-2 {
  display: none;
  position: absolute;
  top: 186px;
  right: 197px;
}

.visible {
  display: block;
}

@media (max-width: 640px) {
.control > .arrow {
    display: none;
  }

}


.services {
  height: 494px;
  background: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  color: #666d89;
}


.services-column {
  margin-top: 47px;
}

.services-title h2 {
  margin: 0;
  padding-top: 49px;
font-size: 30px;
  line-height: 18px;
font-family: "Lato";
font-weight: 900;
  letter-spacing: -0.2px;
}

.services-title p {
font-family: "Lato";
font-weight: 300;
font-size: 18px;
  line-height: 29px;
  text-align: justify;
  margin-top: 20px;
}

.services-information {
  display: flex;
flex-wrap: wrap;
  justify-content: space-between;  
}

.services-content  {
  display: flex;
   max-width: 32%;
   margin-bottom: 22px;
   margin-right: -0.7px;    
}

.services-content .services-text {
  margin-left: 21px;
  text-align: justify;    
}

.services-content .services-text h3 {
  margin-top: -4px;
  letter-spacing: -0.35px;
font-family: 'Lato-Black', sans-serif;
}

.services-content .services-text p {
  margin-top: -12px;
  overflow: hidden;
  line-height: 22px;
font-size: 11px;
  letter-spacing: 0.4px;
  word-spacing: 0px;
font-family: "Lato", sans-serif;
font-weight: 400;
}

.portfolio {
  background: #2d303a;
  border-bottom: 6px solid #323746;
font-family: 'Lato', sans-serif;
  color: #666d89;
  overflow: hidden;
  } 

.portfolio h1 {
  margin: 50px 0 22px;
font-family: 'Lato-Black', sans-serif;
font-size: 30px;
  }

.portfolio p {
font-family: 'Lato-Light', sans-serif;
font-size: 18px;
  }

.portfolio ul {
  display: flex;
font-size: 12px;
  padding: 0px 1px 5px;
  margin-top: -3px;
  margin-left: 1px;
  }

.portfolio ul li.nonactive {
  list-style: none;
  border: 1px solid #666d89;
  border-radius: 5px;
  padding: 2px 6px;
  margin-right: 10px;
  padding-bottom: 3px;
  cursor: pointer;
  transition: all .25s ease-out;
  }

.portfolio ul li {
  list-style: none;
  border: 1px solid #666d89;
  border-radius: 5px;
  padding: 2px 6px;
  margin-right: 10px;
  padding-bottom: 3px;
  cursor: pointer;
  transition: all .25s ease-out;
  }

.portfolio ul li:hover {
  color: #ffffff;
  border: 1px solid #ffffff;  
  }

.portfolio ul li:nth-child(4) {
  padding-right: 4px;
  }

.portfolio ul .selected {
  color: #ffffff;
  border: 1px solid #ffffff;
  }

.portfolio-images {
  display: flex;
flex-wrap: wrap;
  justify-content: space-between;
  
  margin-top: 14px;
  margin-bottom: 37px;
  }

.portfolio-images img {
  margin-bottom: 20px;
  cursor: pointer;
  transition: all .25s ease-out;
  }

.portfolio-images img.bordered {

  outline: 5px solid #f06c64;

  }

.portfolio-images img:hover {
filter: brightness(70%);
  }

.about-us {
     background: #f2f2f2;
     border-bottom: 6px solid #ffffff;
     min-height: 728px;
     color: #666d89;
     margin-top: 0;
  }

.about-us h1 {
font-family: 'Lato-Black', sans-serif;
font-size: 30px;
  margin-top: 48px;
  margin-bottom: 19px;
  }

.about-us p {
font-family: 'Lato-Light', sans-serif;
font-size: 18px;
  line-height: 30px;
  text-align: justify;
  }

.about-people {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
  }
  
.about-people .about-list {
  max-width: 300px;
  }

.about-list .about-picture {
  margin-bottom: -8px;

  }

.about-list .about-picture:nth-child(2){
  margin-left: -2px;
  }

.about-list .profile-information h3 {
font-family: 'Lato-Black', sans-serif;
font-size: 18px;
  margin-top: 0;
  margin-left: -1px;
  margin-bottom: -8px;
  padding-top: 17px;
  }

.about-list .profile-information p {
  overflow: hidden;
font-weight: 1000;
font-size: 11px;
  text-align: justify;
  line-height: 21px;
  margin-top: 16px;
  letter-spacing: 0.5px;
font-family: 'Lato-Black';
font-weight: 400;
  }

.about-list .social-media-icons {
  padding-top: 14px;
  }

.about-list .social-media-icons a {
  padding-right: 5px;
  transition: all .25s ease-out;
  }

.about-list .social-media-icons a:hover {
filter: brightness(50%);
  }

.quote-form {
font-family: 'Lato', sans-serif;
  color: #f0d8d9;
  background: #f06c64;
  border-bottom: 6px solid #ea676b;
  margin: 0;
  }
  

.quote-form .wrapper-form {
  display: flex; 
  }
  
.quote-form .wrapper-form .form {
  margin-top: 18px;
  } 
  
.quote-form h1 {
font-family: 'Lato-Black', sans-serif;
font-size: 30px;
  padding-top: 22px;
  padding-top: 48px;
  margin: 0;
  }
  
.quote-form p {
font-family: 'Lato-Light', sans-serif;
font-size: 18px;
  line-height: 30px;
  text-align: justify;
  }
  
.quote-form .form form {
  width: 618px;
  }
  
.quote-form .form input, textarea {
  background: #d6564f;
  border: none;
  border-radius: 5px;
  padding-left: 16px;
font-size: 11px;
font-family: inherit;
  letter-spacing: 0.4px;  
  color: #f0d8d9; 
  transition: background-color .5s; 
  }

.quote-form .form textarea:hover {
  background-color: #9b403b;
  }

.quote-form .form input:hover {
  background-color: #9b403b;
  }
  
.quote-form .form input {
  height: 36px;
  margin: 8px 0;
  width: 603px; 
  }

  
.quote-form .form input:focus {
  outline: none;
  }
  
.quote-form .form textarea:focus {
  outline: none;
  }
  
.quote-form .form input::placeholder {
  color: #f2888b;   
  }
  
.quote-form .form textarea::placeholder {
  color: #f2888b;
  }

.quote-form .form textarea {
  margin: 8px 0;
  height: 189px;
  width: 601px;
  padding-top: 11px;
  resize: none;
  }
  
.quote-form .form button {
  width: 90px;
  border: none;
  height: 30px;
  color: #d6564f;
  cursor: pointer;
font-size: 11px;
font-family: inherit;
  letter-spacing: 0.5px;
  margin-bottom: 16px;
  transition: all .25s ease-out;   
  }
  
.quote-form .form button:focus {
  outline: none;
  }
  
.quote-form .form button:hover {
filter: brightness(90%);
font-weight: bolder;
  }


  #message-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:  rgba(80, 80, 80, 0.4);
  
  }

 .hidden {
  display: none;
  }

  #message {
  position: absolute;
  top: 83%;
  left: 38%;
  display: flex;
flex-direction: column;
  align-items: center;
  color: #2d303a;
  border-radius: 10px;
  background-color: #f2f2f2;
  width: 400px;
  max-width: 30%;
  max-height: 90%;
  overflow: hidden;
  padding: 30px;
  word-break: break-all;
     
  }

  #message p {
font-family: 'Lato-Light', sans-serif;
font-size: 18px;
  line-height: 30px;
     
  }

  #message-block button {
  width: 90px;
  border: none;
  height: 30px;
  border-radius: 5px;
  background-color: #f06c64;
  color: #f2f2f2;
  cursor: pointer;
font-size: 11px;
font-family: inherit;
  letter-spacing: 0.5px;
  margin-bottom: 16px;
  transition: all .3s;

}

  #message-block button:focus {
  outline: none;
  }

  #message-block button:hover {
font-weight: bolder;
  }
  
.wrapper-form .contact-information {
  display: flex;
flex-direction: column;
  padding-left: 22px;
  }

.wrapper-form .contact-information h3 {
  padding-top: 5px;
  margin-bottom: 8px;
  }
  
.wrapper-form .contact-information p {
  overflow: hidden;
font-size: 11px;
font-family: inherit;
  letter-spacing: 0.5px; 
  line-height: 22px;
  text-align: justify;
  word-spacing: -1px;
  padding-bottom: 21px;
  margin: 0;
  }
  
.wrapper-form .contact-information a {
  text-decoration: none;
  color:  #f0d8d9;
font-size: 11px;
font-family: inherit;
  letter-spacing: 0.5px;
  transition: all .3s ease-out;
  }

.wrapper-form .contact-information a:hover {
font-weight: bolder;
  }
  
.wrapper-form .contact-information span {
font-size: 11px;
font-family: inherit;
  letter-spacing: 0.5px;
  padding: 4px 0;    
  }

.wrapper-form .contact-information .location {
  padding-left: 5px;
  }
  
.wrapper-form .contact-information .location img {
  margin-right: 11px; 
  margin-left: -1px;
  }

.wrapper-form .contact-information span img{
  margin-right: 8px;
  }

.wrapper-form .contact-information a:visited {
  color:  #f0d8d9;
  text-decoration: none;
  }
  
footer {
  background: #2d303a;  
  }
  
footer .wrapper {
  display: flex;
  justify-content: space-between;
  }
  
footer p {
  display: inline-block;
  padding-left: 3px;
font-size: 11px;
font-family: inherit;
  letter-spacing: 0.3px;
  color: #666d89;
  }
  
footer .footer-social-link {
  margin-top: 12px;
  margin-bottom: 9px;
  }
  
footer .footer-social-link a {
  padding-left: 5px;  
  transition: all .25s ease-out;
  }

footer .footer-social-link a:hover {
filter: opacity(55%); 
  }